	  <div class="panel-top">
	    <drag-scroll class="skins-list">
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	    </drag-scroll>
	  </div>