
      <div class="content">
        <div class="main-panel coin-flip-panel">
          <div class="coin-flip-score">
            <div class="action-panel">
              <a routerLink="/coin-flip-history" class="btn bg-gray">History</a>
              <a href="javascript:void(0)" data-toggle="modal" data-target=".coinFlipCreationModal" class="btn bg-blue">Deposit</a>
            </div>
            <div class="scores">
              <div class="row">
                <div class="cols col-md-6">
                  <div class="item">
                    <div class="label">Total Value</div>
                    <div class="value">
                      <span class="icon">
                        <img src="/assets/img/coins-icon.png">
                      </span>
                      <span class="text">$1254.00</span>
                    </div>
                  </div> 
                  <div class="item">
                    <div class="label">Number of Coinflips</div>
                    <div class="value">
                      <span class="icon">
                        <img src="/assets/img/coin-flip-icon.png">
                      </span>
                      <span class="text">42</span>
                    </div>
                  </div>
                </div>
                <div class="cols col-md-6">
                  <div class="item">
                    <div class="label">Coinflips</div>
                    <div class="value">
                      <span class="icon">
                        <img src="/assets/img/coin-flip-icon.png">
                      </span>
                      <span class="text">2</span>
                    </div>
                  </div> 
                  <div class="item">
                    <div class="label">Deposited</div>
                    <div class="value">
                      <span class="icon">
                        <img src="/assets/img/coins-icon.png">
                      </span>
                      <span class="text">$2214.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coin-players-list">
            <div class="item">
              <div class="player-vs">
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img02.jpg">
                </a>
                <span class="vs rounded-circle">v/s</span>
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img01.jpg">
                </a>
                <div class="amount">
                  <span class="badge">$40.32</span>
                </div>
              </div>
              <div class="action-col">
                <a href="javascript:void(0)" class="avatar rounded-circle">
                  <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                </a>
                <a href="javascript:void(0)" id="viewCoinAnim" class="btn bg-gray" data-toggle="modal" data-target=".coinFlipModal">
                  <i class="fa fa-eye"></i>
                  <span class="text">View</span>
                </a>
              </div>
              <div class="skins-col">
                <drag-scroll class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                </drag-scroll>
              </div>
            </div>
            <div class="item">
              <div class="player-vs">
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img02.jpg">
                </a>
                <span class="vs rounded-circle">v/s</span>
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img01.jpg">
                </a>
                <div class="amount">
                  <span class="badge">$40.32</span>
                </div>
              </div>
              <div class="action-col">
                <a href="javascript:void(0)" class="avatar rounded-circle">
                  <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                </a>
                <a href="javascript:void(0)" id="viewCoinAnim" class="btn bg-gray" data-toggle="modal" data-target=".coinFlipModal">
                  <i class="fa fa-eye"></i>
                  <span class="text">View</span>
                </a>
              </div>
              <div class="skins-col">
                <drag-scroll class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                </drag-scroll>
              </div>
            </div>
            <div class="item">
              <div class="player-vs">
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img02.jpg">
                </a>
                <span class="vs rounded-circle">v/s</span>
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img01.jpg">
                </a>
                <div class="amount">
                  <span class="badge">$40.32</span>
                </div>
              </div>
              <div class="action-col">
                <a href="javascript:void(0)" class="avatar rounded-circle">
                  <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                </a>
                <a href="javascript:void(0)" id="viewCoinAnim" class="btn bg-gray" data-toggle="modal" data-target=".coinFlipModal">
                  <i class="fa fa-eye"></i>
                  <span class="text">View</span>
                </a>
              </div>
              <div class="skins-col">
                <drag-scroll class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                </drag-scroll>
              </div>
            </div>
            <div class="item">
              <div class="player-vs">
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img02.jpg">
                </a>
                <span class="vs rounded-circle">v/s</span>
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img01.jpg">
                </a>
                <div class="amount">
                  <span class="badge">$40.32</span>
                </div>
              </div>
              <div class="action-col">
                <a href="javascript:void(0)" class="avatar rounded-circle">
                  <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                </a>
                <a href="javascript:void(0)" id="viewCoinAnim" class="btn bg-gray" data-toggle="modal" data-target=".coinFlipModal">
                  <i class="fa fa-eye"></i>
                  <span class="text">View</span>
                </a>
              </div>
              <div class="skins-col">
                <drag-scroll class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                </drag-scroll>
              </div>
            </div>
            <div class="item">
              <div class="player-vs">
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img02.jpg">
                </a>
                <span class="vs rounded-circle">v/s</span>
                <a href="#" class="avatar rounded-circle">
                  <img class="rounded-circle" src="/assets/img/user-img01.jpg">
                </a>
                <div class="amount">
                  <span class="badge">$40.32</span>
                </div>
              </div>
              <div class="action-col">
                <a href="javascript:void(0)" class="avatar rounded-circle">
                  <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                </a>
                <a href="javascript:void(0)" id="viewCoinAnim" class="btn bg-gray" data-toggle="modal" data-target=".coinFlipModal">
                  <i class="fa fa-eye"></i>
                  <span class="text">View</span>
                </a>
              </div>
              <div class="skins-col">
                <drag-scroll class="gallery js-flickity skins-list" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                  <div drag-scroll-item class="gallery-cell skin-item">
                    <div class="code">MM</div>
                    <div class="mid-sec">
                      <img src="/assets/img/gun.png" />
                    </div>
                    <div class="bottom-sec">
                      $2.00
                    </div>
                  </div>
                </drag-scroll>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <footer>
        © vgogem 2018
      </footer>
      
    

    <a href="#sidebar" class="chat-bar-menu rounded-circle gradient" href="#sidebar" data-toggle="collapse">
      <i class="fa fa-comments"></i>
    </a>

    <!-- Modal -->

    <div class="modal fade coinFlipModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-header">
            Lobby ID: 97504
          </div>
          <div class="players-panel">
            <div class="player-left">
              <div class="avatar rounded-circle" id="coinFlipPlayer1">
                <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                <div class="crown"><img src="/assets/img/crown.png"></div>
                <span class="coin">
                  <img src="/assets/img/coin-red.png">
                </span>
              </div>
              <span class="name">MîLåNâ</span>
            </div>
            <div class="player-right">
              <div class="avatar rounded-circle" id="coinFlipPlayer2">
                <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                <span class="coin">
                  <img src="/assets/img/coin-blue.png">
                </span>
              </div>
              <span class="name">MîLåNâ</span>
            </div>
            <div class="coin-flip-anim">
              <div id="coin-flip-here">
                <div class="side-a"></div>
                <div class="side-b"></div>
              </div>
            </div>
          </div>
          <div class="palyer-skins-panel">
            <span class="devider"></span>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <span class="float-left">
                      <label>Item:</label> 4 
                    </span>
                    <span class="float-right">
                      <label>Value:</label> $971.50 
                    </span>
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <span class="float-left">
                      <label>Item:</label> 4 
                    </span>
                    <span class="float-right">
                      <label>Value:</label> $971.50 
                    </span>
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade coinFlipModal coinFlipStartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="modal-header">
            Lobby ID: 97504
          </div>
          <div class="players-panel">
            <div class="player-left">
              <div class="avatar rounded-circle">
                <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                <span class="coin">
                  <img src="/assets/img/coin-red.png">
                </span>
              </div>
              <span class="name">MîLåNâ</span>
            </div>
            <div class="player-right">
              <div class="avatar rounded-circle">
                <img src="/assets/img/user-img02.jpg" class="rounded-circle">
                <span class="coin">
                  <img src="/assets/img/coin-blue.png">
                </span>
              </div>
              <span class="name">MîLåNâ</span>
            </div>
            <div class="coin-flip-anim">
              <div class="circle text-center" id="timer3"></div>
            </div>
          </div>
          <div class="palyer-skins-panel">
            <span class="devider"></span>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <span class="float-left">
                      <label>Item:</label> 4 
                    </span>
                    <span class="float-right">
                      <label>Value:</label> $971.50 
                    </span>
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <span class="float-left">
                      <label>Item:</label> 4 
                    </span>
                    <span class="float-right">
                      <label>Value:</label> $971.50 
                    </span>
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img src="/assets/img/gun.png">
                        </td>
                        <td>
                          <span class="title">FAMAS</span>
                          <span class="des">Bristlecone (Minimal Wear)</span>
                        </td>
                        <td>
                          <span class="amount">$60.00</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade coinFlipJoinModal modal-inventory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
          <div class="row">
            
            <div class="score-panel col-md-3">
              <div class="item">
                <span class="label">Join Coinflip</span>
                <span class="score">$2.00 - $4.56</span>
              </div>
              <div class="item">
                <span class="label">Selected Items</span>
                <span class="score">(0/20)</span>
              </div>
              <div class="item">
                <span class="label">Time Left</span>
                <span class="score">01:28</span>
              </div>
            </div>
            <div class="data-panel col-md-9">
              <div class="controlers text-left">
                <a href="#" class="btn">
                  <span class="icon">
                    <img src="/assets/img/refresh-icon.png" />
                  </span>
                  Refresh Inventory
                </a>
                <a href="#" class="btn">
                  <span class="icon">
                    <img src="/assets/img/delete-icon.png" />
                  </span>
                  Empty  Selection
                </a>
                <div class="your-coins float-right">
                  <a href="#" class="rounded-circle">
                    <img src="/assets/img/coin-blue.png" />
                  </a>
                  <a href="#" class="rounded-circle">
                    <img src="/assets/img/coin-red.png" />
                  </a>
                </div>
              </div>
              <div class="data-content">
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <!-- <span class="empty-data">
                <i class="fa fa-ellipsis-h"></i>
              </span> -->
            </div>
              <div class="bottom-sec">
                <button class="btn float-right">Join Lobby</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade coinFlipCreationModal modal-inventory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
          <div class="row">
            
            <div class="score-panel col-md-3">
              <div class="item cols3">
                <span class="label">Join Coinflip</span>
                <span class="score">$2.00 - $4.56</span>
              </div>
              <div class="item cols3">
                <span class="label">Selected Items</span>
                <span class="score">(0/20)</span>
              </div>
              <div class="item cols3">
                <span class="label">Time Left</span>
                <span class="score">01:28</span>
              </div>
            </div>
            <div class="data-panel col-md-9">
              <div class="controlers text-left">
                <a href="#" class="btn">
                  <span class="icon">
                    <img src="/assets/img/refresh-icon.png" />
                  </span>
                  Refresh Inventory
                </a>
                <a href="#" class="btn">
                  <span class="icon">
                    <img src="/assets/img/delete-icon.png" />
                  </span>
                  Empty  Selection
                </a>
                <div class="your-coins float-right">
                  <a href="#" class="rounded-circle">
                    <img src="/assets/img/coin-blue.png" />
                  </a>
                  <a href="#" class="rounded-circle">
                    <img src="/assets/img/coin-red.png" />
                  </a>
                </div>
                  
              </div>
              <div class="data-content">
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <drag-scroll class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div drag-scroll-item class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </drag-scroll>
              <!-- <span class="empty-data">
                <i class="fa fa-ellipsis-h"></i>
              </span> -->
            </div>
              <div class="bottom-sec">
                <button class="btn float-right">Host Coinflip</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
