	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>