<div class="content">
	<div class="main-panel bg">
        <app-top-panel></app-top-panel>
	  <div class="scoreboard">
	    <div class="panel">
	      <div class="icon">
	        <img src="/assets/img/win-icon.png" />
	      </div>
	      <div class="label">Your chance of winning</div>
	      <div class="score">20<small>%</small></div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="/assets/img/money-icon.png" />
	      </div>
	      <div class="label">Deposited Amount</div>
	      <div class="score"><small>$</small>125</div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="/assets/img/left-item-icon.png" />
	      </div>
	      <div class="label">Time Left</div>
	      <div class="score">12:00</div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="/assets/img/grp-icon.png" />
	      </div>
	      <div class="label">Players</div>
	      <div class="score">6</div>
	    </div>
	    <div class="panel winner">
	      <span class="avatar">
	        <img src="/assets/img/player-photo.jpg" alt="Player">
	      </span>
	      <span class="name">VS Gaming</span>
	      <span class="score-des">Won $264.12 with 20.85% chance with GameID #48876</span>
	    </div>
	  </div>
	  <div class="jackpot-panel" >
	    
	    <div class="jackpot" #myIdentifier>
	      <a href="#" class="sound-btn btn rounded-circle">
	        <i class="fa fa-volume-up"></i>
	      </a>
	      <div class="jackpot-line">
	        <img src="/assets/img/jackpot-line.png" />
	      </div>
	      <div class="jackpot-pointer">
	        <img src="/assets/img/jackpot-pointer.png" />
	      </div>
	      <div class="jackpot-timer">
	        <circle-progress
	          [percent]="100"
	          [radius]="120"
	          [outerStrokeWidth]="4"
	          [innerStrokeWidth]="4"
	          [outerStrokeColor]="'#ffffff'"
	          [innerStrokeColor]="'#595980'"
	          [animation]="true"
	          [animationDuration]="10000"
	        ></circle-progress>
	      </div>
	      <div class="jackpot-score">
	        <div class="scores">
	          <div class="amount">$125</div>
	          <div class="skins">30 Skins</div>
	          <div class="icon">
	            <img src="/assets/img/diamond-icon.png">
	          </div>
	          <div class="betting-amount">Min: $1 - Max: Unlimited</div>
	        </div>
	          
	      </div>
	      <canvas id="doughnut" style="width: 350px; height: 350px;"></canvas>
	    </div>
	    <div class="jackpot-btn">
	      <button type="button" class="btn bg-green btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Deposit</button>
	    </div>
	  </div> 

        <app-icon></app-icon>
        
	  <div class="winners-history-panel">
	   <app-doughnut></app-doughnut>
	   <app-doughnut></app-doughnut>
	   <app-doughnut></app-doughnut>
	   <app-doughnut></app-doughnut>
	   <app-doughnut></app-doughnut>
	  </div>

	</div>
</div>