<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars"></i>
    </span>
  </button>
  <a class="navbar-brand" routerLink="/dashboard">
    <img src="/assets/img/logo.png" alt="VGOGEM">
  </a>

  <div class="navbar-left collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/diamond">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/diamond-icon.png" alt="Diamond" />
            </span>
            <span class="link-label">
              Diamond
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coal">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/coal-icon.png" alt="Coal" />
            </span>
            <span class="link-label">
              Coal
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/plant">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/plant-icon.png" alt="Plant" />
            </span>
            <span class="link-label">
              Plant
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coinflip">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/coin-icon.png" alt="Coin Flip" />
            </span>
            <span class="link-label">
              Coin Flip
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="#" class="profile-dropdown">
      <i class="fa fa-user"></i>
    </a>
    <a href="#" class="btn-login btn bg-gray">Login with Steam</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="chat-panel" id="sidebar">
        <div class="online-display gradient">
          Online users: <b>60</b>
          <a href="#" class="social-icon">
            <img src="/assets/img/twitter-icon.png" />
          </a>
          <a href="#" class="social-icon">
            <img src="/assets/img/icon.png" />
          </a>
        </div>
        
        <div class="chat-list">
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">9</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">5</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">20</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">22</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">36</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">50</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">48</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">10</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">15</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">38</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ</span> <span class="badge bg-blue">22</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
        </div>
        <div class="footer-sec">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn" type="button">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
  <router-outlet></router-outlet>
</div>
<div>footer works!</div>