<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars"></i>
    </span>
  </button>
  <a class="navbar-brand" routerLink="/dashboard">
    <img src="/assets/img/logo.png" alt="VGOGEM">
  </a>

  <div class="navbar-left collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/diamond">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/diamond-icon.png" alt="Diamond" />
            </span>
            <span class="link-label">
              Diamond
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coal">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/coal-icon.png" alt="Coal" />
            </span>
            <span class="link-label">
              Coal
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/plant">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/plant-icon.png" alt="Plant" />
            </span>
            <span class="link-label">
              Plant
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coinflip">
          <span class="nav-link-grp">
            <span class="icon rounded-circle">
              <img src="/assets/img/coin-icon.png" alt="Coin Flip" />
            </span>
            <span class="link-label">
              Coin Flip
              <span class="badge">$129.00</span>
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="#" class="profile-dropdown" data-toggle="modal" data-target="#loginModal">
      <i class="fa fa-user"></i>
    </a>
    <a data-toggle="modal" data-target="#loginModal" class="btn-login btn bg-gray">Login with Steam</a>
  </div>
</nav>

  
<div class="container-fluid">
 <!--  <div [hidden]="!visible" (window:resize)="onResize($event)" > -->
  <div class="chat-panel collapse in" id="sidebar">
        <div class="online-display gradient">
          Online users: <b>60</b>
          <a href="#" class="social-icon">
            <img src="/assets/img/twitter-icon.png" />
          </a>
          <a href="#" class="social-icon">
            <img src="/assets/img/icon.png" />
          </a>
        </div>
        
        <div class="chat-list">
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">9</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">5</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">20</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">22</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">36</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">50</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">48</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">10</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">15</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">38</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
          <div class="users">
            <div class="avatar">
              <img src="/assets/img/user-img02.jpg" alt="user" />
            </div>
            <div class="content-sec">
              <div class="name level"><span class="players-name">MîLåNâ...</span> <span class="badge bg-blue">22</span></div>
              <div class="comment">But be car next time ;)</div>
            </div>
          </div>
        </div>
        <div class="footer-sec">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn" type="button">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
   <!--    </div> -->
                <div class="modal fade bd-example-modal-lg modal-inventory" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <div class="row">
          
          <div class="score-panel col-md-3">
            <div class="item">
              <span class="label">Jackpot Deposit</span>
              <span class="score">(0/20)</span>
            </div>
            <div class="item">
              <span class="label">Selected</span>
              <span class="score">$0</span>
            </div>
            <div class="item">
              <span class="label">Current Pot</span>
              <span class="score">$20.36</span>
            </div>
            <div class="item">
              <span class="label">Your Chances</span>
              <span class="score">0%</span>
            </div>
            <div class="item">
              <span class="label">Time Left</span>
              <span class="score">01:28</span>
            </div>
          </div>
          <div class="data-panel col-md-9">
            <div class="controlers">
              <a href="#" class="btn">
                <span class="icon">
                  <img src="/assets/img/stock-icon.png" />
                </span>
                Your Inventory
              </a>
              <a href="#" class="btn">
                <span class="icon">
                  <img src="/assets/img/refresh-icon.png" />
                </span>
                Refresh Inventory
              </a>
              <a href="#" class="btn">
                <span class="icon">
                  <img src="/assets/img/delete-icon.png" />
                </span>
                Empty  Selection
              </a>
            </div>
            <div class="data-content">
              <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </div>
              <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </div>
              <div class="gallery js-flickity" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
                <div class="gallery-cell skin-item">
                  <div class="top-sec">
                    <span class="code">MM</span>
                    <span class="amount">$24.25</span>
                  </div>
                  <div class="mid-sec">
                    <img src="/assets/img/gun.png">
                  </div>
                  <div class="bottom-sec">
                    Tac 9 | Criticle
                  </div>
                </div>
              </div>
              <!-- <span class="empty-data">
                <i class="fa fa-ellipsis-h"></i>
              </span> -->
            </div>
            <div class="bottom-sec">
              <button class="btn float-right">Deposit $450 (12 Skins)</button>
              <span class="text float-right">Max 20 skins and a minimum value of $0.30</span>

            </div>
          </div>
        </div>
          
        </div>
      </div>
    </div>

    <a class="chat-bar-menu rounded-circle gradient" href="#sidebar" data-toggle="collapse">
      <i class="fa fa-comments"></i>
    </a>
  <router-outlet></router-outlet>

</div>

<app-form></app-form>
