<div class="content">
	<div class="main-panel bg">
	  <div class="panel-top">
	    <drag-scroll class="skins-list">
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	      <div drag-scroll-item class="item">
	        <div class="top-sec">
	          <span class="avatar">
	            <img src="src/assets/img/user-img01.jpg" />
	          </span>
	          <span class="code">MM</span>
	          <span class="amount">$24.25</span>
	        </div>
	        <div class="mid-sec">
	          <img src="src/assets/img/gun.png" />
	        </div>
	        <div class="bottom-sec">
	          Tac 9 | Criticle
	        </div>
	      </div>
	    </drag-scroll>
	  </div>
	  <div class="scoreboard">
	    <div class="panel">
	      <div class="icon">
	        <img src="src/assets/img/win-icon.png" />
	      </div>
	      <div class="label">Your chance of winning</div>
	      <div class="score">20<small>%</small></div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="src/assets/img/money-icon.png" />
	      </div>
	      <div class="label">Deposited Amount</div>
	      <div class="score"><small>$</small>125</div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="src/assets/img/left-item-icon.png" />
	      </div>
	      <div class="label">Time Left</div>
	      <div class="score">12:00</div>
	    </div>
	    <div class="panel">
	      <div class="icon">
	        <img src="src/assets/img/grp-icon.png" />
	      </div>
	      <div class="label">Players</div>
	      <div class="score">6</div>
	    </div>
	    <div class="panel winner">
	      <span class="avatar">
	        <img src="src/assets/img/player-photo.jpg" alt="Player">
	      </span>
	      <span class="name">VS Gaming</span>
	      <span class="score-des">Won $264.12 with 20.85% chance with GameID #48876</span>
	    </div>
	  </div>
	  <div class="jackpot-panel">
	    
	    <div class="jackpot">
	      <a href="#" class="sound-btn btn rounded-circle">
	        <i class="fa fa-volume-up"></i>
	      </a>
	      <div class="jackpot-line">
	        <img src="src/assets/img/jackpot-line.png" />
	      </div>
	      <div class="jackpot-pointer">
	        <img src="src/assets/img/jackpot-pointer.png" />
	      </div>
	      <div class="jackpot-timer">
	        <circle-progress
	          [percent]="100"
	          [radius]="120"
	          [outerStrokeWidth]="4"
	          [innerStrokeWidth]="4"
	          [outerStrokeColor]="'#ffffff'"
	          [innerStrokeColor]="'#595980'"
	          [animation]="true"
	          [animationDuration]="10000"
	        ></circle-progress>
	      </div>
	      <div class="jackpot-score">
	        <div class="scores">
	          <div class="amount">$125</div>
	          <div class="skins">30 Skins</div>
	          <div class="icon">
	            <img src="src/assets/img/diamond-icon.png">
	          </div>
	          <div class="betting-amount">Min: $1 - Max: Unlimited</div>
	        </div>
	          
	      </div>
	      <canvas id="doughnut" style="width: 350px; height: 350px;"></canvas>
	    </div>
	    <div class="jackpot-btn">
	      <button type="button" class="btn bg-green btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Deposit</button>
	    </div>
	  </div>
	  <div class="panel-leftbar">
	    <div class="player-list">
	      <div class="player">
	        <div class="row">
	          <div class="col">
	            <span class="avatar">
	              <img src="src/assets/img/player-photo.jpg" alt="Player">
	            </span>
	            <span class="name">VS Gaming</span>
	          </div>
	          <div class="col">
	            <span class="amonut">$40.32</span>
	            <span class="items">(16 Items)</span>
	            <span class="ratio">44.31%</span>
	          </div>
	        </div>
	      </div>
	      <div class="player">
	        <div class="row">
	          <div class="col">
	            <span class="avatar">
	              <img src="src/assets/img/player-photo.jpg" alt="Player">
	            </span>
	            <span class="name">VS Gaming</span>
	          </div>
	          <div class="col">
	            <span class="amonut">$40.32</span>
	            <span class="items">(16 Items)</span>
	            <span class="ratio">44.31%</span>
	          </div>
	        </div>
	      </div>
	      <div class="player">
	        <div class="row">
	          <div class="col">
	            <span class="avatar">
	              <img src="src/assets/img/player-photo.jpg" alt="Player">
	            </span>
	            <span class="name">VS Gaming</span>
	          </div>
	          <div class="col">
	            <span class="amonut">$40.32</span>
	            <span class="items">(16 Items)</span>
	            <span class="ratio">44.31%</span>
	          </div>
	        </div>
	      </div>
	      <div class="player">
	        <div class="row">
	          <div class="col">
	            <span class="avatar">
	              <img src="src/assets/img/player-photo.jpg" alt="Player">
	            </span>
	            <span class="name">VS Gaming</span>
	          </div>
	          <div class="col">
	            <span class="amonut">$40.32</span>
	            <span class="items">(16 Items)</span>
	            <span class="ratio">44.31%</span>
	          </div>
	        </div>
	      </div>
	      <div class="player">
	        <div class="row">
	          <div class="col">
	            <span class="avatar">
	              <img src="src/assets/img/player-photo.jpg" alt="Player">
	            </span>
	            <span class="name">VS Gaming</span>
	          </div>
	          <div class="col">
	            <span class="amonut">$40.32</span>
	            <span class="items">(16 Items)</span>
	            <span class="ratio">44.31%</span>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="winners-history-panel">
	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="src/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="src/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="src/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="src/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <div class="panel rounded">
	      <div class="player-list">
	        <div class="winner-info rounded">
	          <div class="avatar rounded-circle">
	            <img src="src/assets/img/user-img04.jpg" class="rounded-circle">
	          </div>
	          <div class="info">
	            <div class="name">Chucky</div>
	            <div class="score">
	              <label>Win: </label> $125.33
	            </div>
	            <div class="score">
	              <label>Chance : </label> 25% 
	            </div>
	          </div>
	        </div>
	        <ul>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	          <li>
	            <a href="#" class="rounded">
	              <span class="avatar">
	                <img src="src/assets/img/user-img04.jpg">
	                <span class="score">25%</span>
	              </span>
	            </a>
	          </li>
	        </ul>
	      </div>
	      
	      <div class="winning-items rounded">
	        <div class="title">Winning Items</div>
	        <ul>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	          <li class="skin-item rounded">
	            <div class="top-sec">
	              <span class="code">MM</span>
	              <span class="amount">$24.25</span>
	            </div>
	            <div class="mid-sec">
	              <img src="src/assets/img/gun.png">
	            </div>
	            <div class="bottom-sec">
	              Tac 9 | Criticle
	            </div>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </div>

	</div>
</div>